<nz-layout class="app-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed"  class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Exhortos</h1>
      </a>
    </div>

      <ul nz-menu nzTheme="dark" nzMode="inline" >
        <li nz-submenu nzOpen nzTitle="Interconexion Exhortos" nzIcon="shrink">
          <!-- <span nz-icon nzType="right-circle" nzTheme="twotone"></span> -->
          <ul>
            <li nz-menu-item [nzMatchRouter]="ruta"  routerLink="/panel/exhorto" (click)="updateRoute('/panel/exhorto')">
              <span>Alta Exhorto</span>
            </li>
            <li nz-menu-item [nzMatchRouter]="ruta" routerLink="/panel/exhortos-nacionales" (click)="updateRoute('/panel/exhortos-nacionales')">
              <a>Tabla Exhortos</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Exhortos Locales" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>

  </nz-sider>
  <nz-layout>
    <nz-header [ngStyle]="{'margin-left': isCollapsed ? '80px' : '256px', 'position': 'fixed', 'width': '100%', 'z-index': '1000'}">

        <div class="app-header" style="display: flex; align-items: center; justify-content: space-between;">
          <div>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
            </span>
          </div>
          <div>
            <app-title style="margin-top: 17px;" class="header-title" [route]="ruta"></app-title>
          </div>
          <div  [ngStyle]="isCollapsed ? {'display': 'block', 'padding-right': '106px'} : {'display': 'flex'}">
            nombre usuario sesion
          </div>
        </div>

    </nz-header>
    <nz-content>
      <div class="inner-content" [ngStyle]="{'margin-left': isCollapsed ? '80px' : '256px','margin-top': '60px'}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
