<nz-layout style="background: white;" class="app-layout">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="4" [nzXs]="0" [nzSm]="0" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></nz-col>
    <nz-col [nzSpan]="16" [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16"
      class="fade-in-element">
      <div class="container title">
        <h3>LISTA DE EXHORTOS REGISTRADOS TEMPORALMENTE</h3>
        <h4>(TRIBUNAL SUPERIOR DE JUSTICIA DEL ESTADO DE MORELOS)</h4>
        <br>
      </div>
    </nz-col>
    <nz-col [nzSpan]="4" [nzXs]="0" [nzSm]="0" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4"></nz-col>
  </nz-row>
  <div class="card">
    <p-tabView>
      <nz-row [nzGutter]="24" class="fade-in-element">
        <nz-col [nzSpan]="24" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">



          <p-table #dt
            [columns]="colsTable"
            [value]="exhortos"
            [paginator]="true"
            [rows]="registros"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            (onPage)="handlePageChange($event)"
            currentPageReportTemplate="Mostrando  {first} a {last} de {totalRecords} datos"
            [scrollable]="true"
            scrollHeight="flex"
            [tableStyle]="{'min-width': '50rem'}"
            [globalFilterFields]="['etapa_exhorto', 'exhortoOrigenId', 'fechaOrigen', 'id_exhorto', 'juzgadoOrigenNombre', 'municipioDestino', 'nom_estado']"
          >
            <ng-template pTemplate="caption">
              <div class="responsive-caption">
                <div style="text-align: left;">RESULTADOS</div>
                <div>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input (input)="SearchTable($event, 'contains')" placeholder="BUSCAR" />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                  </ng-template>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr style="font-size: 12px;">
                <th *ngFor="let col of columns" [style.width]="col.width">
                  {{ col.header }}
                </th>
                <!-- <th style="width: 8%;"><b>ETAPA</b></th>
                <th style="width: 20%;"><b>EXHORTO DE ORIGEN</b></th>
                <th style="width: 14%;"><b>FECHA</b></th>
                <th style="width: 15%;"><b>JUZGADO</b></th>
                <th><b>MUNICIPIO</b></th>
                <th><b>ESTADO</b></th>
                <th style="width: 15%;"><b>ACCIONES</b></th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exhortos>
              <tr style="font-size: 12px;">
                <td>
                  <p-tag
                    [style]="{ 'background-color': getStatus(exhortos.etapa_exhorto).color }"
                    [rounded]="true">
                    <!-- funcion que retorna el color y el texto del tag esta recibe la etapa del ehxhorto -->
                    {{getStatus(exhortos.etapa_exhorto).text}}
                  </p-tag>
                </td>
                <td>{{exhortos.exhortoOrigenId}}</td>
                <td>{{exhortos.fechaOrigen}}</td>
                <td>{{exhortos.juzgadoOrigenNombre}}</td>
                <td>{{exhortos.municipioDestino}}</td>
                <td>{{exhortos.nom_estado}}</td>
                <td>
                  <!-- <button *ngIf="exhortos.etapa_exhorto === 'Recibido'" pButton icon="pi pi-eye" pInputText
                    pTooltip="Ver el exhorto" tooltipPosition="bottom" placeholder="Bottom"
                    class="p-button-rounded p-button-info p-button-sm p-button"
                    (click)="openDialogRecibido(exhortos.id_exhorto)">
                  </button>
                  &nbsp;

                  <button *ngIf="exhortos.etapa_exhorto === 'Pendiente' || exhortos.etapa_exhorto === 'Recibido'" pButton
                    icon="pi pi-file" pInputText pTooltip="Ver el exhorto" tooltipPosition="bottom" placeholder="Bottom"
                    class="p-button-rounded p-button-warning p-button-sm p-button"
                    (click)="openDialogPendiente(exhortos.id_exhorto)">
                  </button>
                  &nbsp;
                  <button pButton icon="pi pi-trash" pInputText pTooltip="Eliminar exhorto" tooltipPosition="bottom"
                    placeholder="Bottom" class="p-button-rounded p-button-danger p-button-sm p-button">
                  </button> -->
                  <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                    Actions
                    <span nz-icon nzType="down"></span>
                  </button>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item>
                        <button nz-button *ngIf="exhortos.etapa_exhorto === 'Recibido'" nzType="link"
                        (click)="openDialogRecibido(exhortos.id_exhorto)"
                        >
                            <span nz-icon nzType="eye" nzTheme="outline" ></span>Ver Exhorto
                        </button>
                      </li>
                      <li nz-menu-item>
                        <button nz-button *ngIf="exhortos.etapa_exhorto === 'Pendiente' || exhortos.etapa_exhorto === 'Recibido'" nzType="link"
                        (click)="openDialogPendiente(exhortos.id_exhorto)"
                        >
                            <span nz-icon nzType="file" nzTheme="outline" ></span>Ver Exhorto
                        </button>
                      </li>
                      <li nz-menu-item>
                        <button nz-button nzType="link"

                        >
                          <span nz-icon nzType="delete" nzTheme="outline" class="icon-delete-text"></span>
                          <span class="icon-delete-text">Eliminar Exhorto</span>
                        </button>

                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10" class="empty">NO SE ENCONTRARON RESULTADOS</td>
              </tr>
            </ng-template>
          </p-table>

        </nz-col>
      </nz-row>
    </p-tabView>
  </div>
  <br>
</nz-layout>

<nz-modal [nzVisible]="visibleLoading"  [nzFooter]="modalFooter"
  [nzStyle]="{top: '150px'}" nzWidth="70%" [nzClosable]="false">
  <ng-container *nzModalContent>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%;">

      <div style="text-align: center">
        <h3 ><b>Cargando Datos ...</b></h3>
        <p-progressSpinner></p-progressSpinner>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="visible2" nzTitle="DATOS DEL SEGUIMIENTO DEL EXHORTO" [nzFooter]="modalFooter"
  [nzStyle]="{top: '20px'}" [nzWidth]="1400" (nzOnCancel)="handleCancel2()">
  <ng-container *nzModalContent>
    <div *ngIf="exhortoR">
      <form nz-form>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Estado Destino:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.estadoDestinoNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Estado de Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.estadoOrigenNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Exhorto Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.exhortoOrigenId" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Folio de Seguimiento:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.folioSeguimiento" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Fecha Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.fechaOrigen" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Fecha de Recepcion:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.fechaHoraRecepcion" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Juez del Exhorto:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.juezExhortante" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Juzgado Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.juzgadoOrigenNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Juzgado Origen Id:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.juzgadoOrigenId" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Tipo de Diligencia:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.tipoDiligenciacionNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Tipo de Juicio Asunto:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.tipoJuicioAsuntoDelitos" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Materia:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.materiaNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Clave Materia:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.materiaClave" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Municipio Destino:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.municipioDestinoNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Municipio Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.municipioOrigenNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Numero de Expediente Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.numeroExpedienteOrigen" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Numero de Oficio Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhortoR.numeroOficioOrigen" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Observaciones:</b>
              <nz-form-item>
                <nz-form-control>
                  <textarea rows="3" nz-input [value]="exhortoR.observaciones" readonly></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </form>
      <h3><b>PERSONA(S)</b></h3>
      <nz-table #personasTable [nzData]="exhortoR.partes" nzBordered>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo persona</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personasTable.data">
            <td>{{ persona.nombre + ' ' + persona.apellidoPaterno + ' ' + persona.apellidoMaterno }}</td>
            <td [ngStyle]="{
              'background-color':
              persona.esPersonaMoral === false
              ? '#61c57aad'
                                    : '#5e99d5a8'
            }">{{ persona.esPersonaMoral === false ? 'Moral' : 'Persona' }}</td>
          </tr>
        </tbody>
      </nz-table>

      <h3><b>ARCHIVOS</b></h3>
      <nz-table #archivosTable [nzData]="exhortoR.archivos" nzBordered>
        <thead>
          <tr>
            <th>Nombre Archivo</th>
            <th>Tamaño (KB)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivosTable.data">
            <td>{{ archivo.nombreArchivo }}</td>
            <!-- <td>{{ archivo.tamanokb }}</td> -->
            <td>tamaño</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="visible" nzTitle="DATOS DEL EXHORTO PARA ENVIAR" [nzFooter]="modalFooter2"
  [nzStyle]="{top: '20px'}" [nzWidth]="1200" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div *ngIf="exhorto?.data">
      <form nz-form>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;ID:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.id_exhorto" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Exhorto Origen ID:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.exhortoOrigenId" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Fecha Origen:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.fechaOrigen" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Juzgado Origen Nombre:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.juzgadoOrigenNombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Etapa Exhorto Nombre:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.etapa_exhorto_nombre" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Estado:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.nom_estado" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-col [nzSpan]="12" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
            <div class="inner-box">
              <b style="color:#030c54;">&nbsp;Municipio Destino:</b>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [value]="exhorto.data.municipioDestino" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </form>
      <h3><b>PERSONA(S)</b></h3>
      <nz-table #personasTable [nzData]="exhorto.personas" nzBordered>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo parte</th>
            <th>Tipo persona</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personasTable.data">
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.nomtipo_parte }}</td>
            <td [ngStyle]="{
              'background-color':
              persona.nomPersonaMoral === 'Moral'
              ? '#61c57aad'
                                    : '#5e99d5a8'
            }">{{ persona.nomPersonaMoral }}</td>
          </tr>
        </tbody>
      </nz-table>

      <h3><b>ARCHIVOS</b></h3>
      <nz-table #archivosTable [nzData]="exhorto.archivos" nzBordered>
        <thead>
          <tr>
            <th>Nombre Archivo</th>
            <th>Tamaño (KB)</th>
            <th>Tipo de Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivosTable.data">
            <td>{{ archivo.nombreArchivo }}</td>
            <td>{{ archivo.tamanokb }}</td>
            <td>{{ archivo.nomtipo_documento }}</td>
            <td>
              <button nz-button nzType="primary" (click)="verDocumento(archivo.url_archivo)">Ver</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <ng-template #modalFooter2>
    <div *ngIf="exhorto.data.etapa_exhorto_nombre === 'Pendiente'">
      <button nz-button nzType="primary" (click)="getEnviarExhorto(exhorto.data.id_exhorto)">Enviar los datos</button>
    </div>
  </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="pdfVisible" nzTitle="DOCUMENTO" [nzStyle]="{top: '30px'}" [nzFooter]="modalFooterpdf"
  [nzWidth]="1200" (nzOnCancel)="handleCancelPdf()">
  <ng-container *nzModalContent>
    <iframe [src]="pdfUrl" width="100%" height="650px" style="border: none;"></iframe>
  </ng-container>
  <ng-template #modalFooterpdf>
  </ng-template>
</nz-modal>
