h1,
h4 {
  justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-element {
  animation: fadeIn 1s ease;
}
.container {
  text-align: center;
}

.card-content {
  font-size: 16px;
  line-height: 1.5;
}

nz-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

nz-card h2 {
  margin-bottom: 16px;
}

nz-card p {
  margin-bottom: 12px;
}
